<%- include('partials/header', { title: 'About Page' }) %>

<h1>About Us</h1>
<p><%= message %></p>
<div>
    <img src="https://i0.wp.com/rollercoasteryears.com/wp-content/uploads/Thrive-During-Finals-.jpg?resize=1000%2C667&ssl=1" alt="" srcset="">
</div>

<%- include('partials/footer') %>
